body{
  font: 18px "Comic Sans MS", cursive, sans-serif
}

a{
  font-family: "Trebuchet MS","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Tahoma,sans-serif
}

.bg-1{
  background-color: #5cb85c; /* Green */
  color: #ffffff;
}

#feeding > img{
  padding: 5px 30px 30px 0px;
}

#caring > img{
  padding: 5px 0px 30px 30px
}

/*Nav-bar settings*/
.navbar-default {
  background-color: #bf1807;
  border-color: #d63b2b;
}
.navbar-default .navbar-brand {
  color: #ecf0f1;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #ffbbbc;
}
.navbar-default .navbar-text {
  color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a {
  color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #ffbbbc;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #ffbbbc;
  background-color: #d63b2b;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #ffbbbc;
  background-color: #d63b2b;
}
.navbar-default .navbar-toggle {
  border-color: #d63b2b;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #d63b2b;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ecf0f1;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #ecf0f1;
}
.navbar-default .navbar-link {
  color: #ecf0f1;
}
.navbar-default .navbar-link:hover {
  color: #ffbbbc;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ecf0f1;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ffbbbc;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffbbbc;
    background-color: #d63b2b;
  }
}

/*Carousel settings*/
#topCarousel{
  max-height: 600px;
  overflow: hidden;
}

.carousel-inner .item > img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  /*margin:auto;*/
}

/*Adoption section settings*/
#adoption .adopt
  {
    border: 1px solid #f6f6f6;
    margin-top: 100px;
    transition: all 0.4s ease-in;
    padding: 40px;
  }
#adoption .adopt_box
 {
    margin-top: 60px;
 }

#adoption .adopt .adopt_title
 {
   border-bottom: 1px solid #f6f6f6;
   color: #9bc848;
   font-size: 24px;
   padding: 20px;
 }

#adoption  .adopt ul
{
  padding: 0px;
  font-size: 14px;
}

#adoption .adopt ul li
 {
   display: block;
   padding: 20px 0 20px 0;
 }

footer{
  font-size: 12px;
  font-family: "Times New Roman", Times, serif
}
